## Penamaan Variable

### Keyword Python

## Tipe Data

### Number

#### Integer

In [ ]:
integer =20
print(f'Nilai variabel integer: {integer}\n')
nilai = 30 + integer
print(f'Nilai variabel nilai: {nilai}')

Nilai variabel integer: 20

Nilai variabel nilai: 50

In [ ]:
nilai_1=1
print(nilai_1)

1

#### Float

In [ ]:
float = 12.3
print(f'Nilai Variabel float: {float}\n')
nilai_2=2.1
print(f'Nilai Variabel nilai_2: {nilai_2}')

Nilai Variabel float: 12.3

Nilai Variabel nilai_2: 2.1

### Teks

In [ ]:
string ='Hai Perkenalkan Nama Saya Rojak\n'
print(string)
string_2='Hai Perkenalkan Nama Saya Furqon\n'
print(string_2)
string_3="""Hai
Perkenalkan
Nama Saya Asep"""
print(string_3)

Hai Perkenalkan Nama Saya Rojak

Hai Perkenalkan Nama Saya Furqon

Hai
Perkenalkan
Nama Saya Asep

## Strukture Data

### Lists

In [ ]:
#membuat list
my_list=[]
#memunculkan list
print(my_list)
#menambahkan value
my_list=['Rizki',True,0.6,1]
#menampilkan list yang sudah di tambahkan
print(my_list)

[]
['Rizki', True, 0.6, 1]

### Dictionary

In [ ]:
#membuat dictionary
dictionary={}
#memunculkan dictionary
print(dictionary)
#menambahkan nilai ke dictionary
dictionary={1:'Rizki',2:'Ramdani'}
#menunculkan hasil
print(dictionary)
#mengganti nilai
dictionary[1]='Rohman'
#memunculkan hasil
print(dictionary)
#menambahn value baru
dictionary[3]='Saepudin'
#memunculkan nilai
print(dictionary)

{}
{1: 'Rizki', 2: 'Ramdani'}
{1: 'Rohman', 2: 'Ramdani'}
{1: 'Rohman', 2: 'Ramdani', 3: 'Saepudin'}

### Tuple

In [ ]:
#membuat tuple
tuple=()
#menampilkan tuple
print(tuple)
#menambah
tuple=(1,2,True,'Rizal')
#menampilkan
print(tuple)
#memunculkan nilai tuple index 2
print(tuple[2])#memunculkan nilai True
#memunculkan semua nilai
print(tuple[:])
#memunculkan index 4 dengan nilai ke 3
print(tuple[3][3])

()
(1, 2, True, 'Rizal')
True
(1, 2, True, 'Rizal')
a

### Sets

In [ ]:
#membuat set
sets={}
#menampilkan
print(sets)
#menambah nilai
sets={1,2,3,4,5,6,7}
#menampilkan
print(sets)
#menambahkakn lagi
sets.add(3)
print(sets)
#ketika ada nilai yang duplikat maka tidak bisa masuk

{}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

## Conditional Statement

### If Statement

In [ ]:
nilai = 12
if nilai > 11:
  print("Nilai lebih dari 11")

Nilai lebih dari 11

### If Else Statement

In [ ]:
nilai = 10
if nilai <=9:
  print('Maka Nilai Kamu masih kurang')
else:
  print('Nilai Kamu Sudah Bagus')

Nilai Kamu Sudah Bagus

### If elif Else Statement

In [ ]:
nilai = 25
if nilai ==30:
  print('Nilai Kamu Sama dengan 30')
elif nilai >=20:
  print('Nilai Kamu Sudah cukup bagus')
else:
  print('coba lagi di lain hari')

Nilai Kamu Sudah cukup bagus

### If Nested

In [ ]:
nilai =10
if nilai >=10:
  if nilai >10:
    print('Tinggi')
  else:
    print('Mantap')
else:
   print('kureng')

Mantap

## Looping

### While Loop

In [ ]:
# While Loop
num = 1
odd_nums = []
while num:
    if num % 2 != 0:
        odd_nums.append(num)
    if num >=20:
        break
    num += 1
print("Odd numbers: ", odd_nums)

Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### For Loop

In [ ]:
dictionary
for num in dictionary:
  print(num)

1
2
3

## Function

In [ ]:
def nilai(a):
  print(a*2)

nilai(3)

6

In [ ]:
def greet(name):
  'yang memiliki nilai sama dengan'
  print(f'Hai Perkenalkan nama saya {name} saya Kuliah di Stmik Ikmi Cirebon')
greet('Rizki Ramdani')

Hai Perkenalkan nama saya Rizki Ramdani saya Kuliah di Stmik Ikmi Cirebon

### Function Arguments

In [ ]:
#yang membawa nilai bawaan
def nama(awal,akhiran='Ramdani'):
  print(f'Hallo Perkenalkan nama saya {awal}, saya sedang bersama teman saya {akhiran}')
nama('Rohman')

Hallo Perkenalkan nama saya Rohman, saya sedang bersama teman saya Ramdani

In [ ]:
#yang membawa nilai bawaan
def nama(awal,akhiran='Ramdani'):
  print(f'Hallo Perkenalkan nama saya {awal}, saya sedang bersama teman saya {akhiran}')
#ketika value kedua tidak dimasukan akan otomatis diisi nilai default
nama('Rohman')
#ketika sudah memiliki value value bawaan akan digantikan
nama('Rohamurmuzy','Prabowo')

Hallo Perkenalkan nama saya Rohman, saya sedang bersama teman saya Ramdani
Hallo Perkenalkan nama saya Rohamurmuzy, saya sedang bersama teman saya Prabowo

In [ ]:
def nilai(nama,*nilai):
  for hasil in nilai:
    print(f'Hallo Nama saya {nama} dan saya memiliki nilai {hasil}')
nilai('Rahmad',91,92,93)

Hallo Nama saya Rahmad dan saya memiliki nilai 91
Hallo Nama saya Rahmad dan saya memiliki nilai 92
Hallo Nama saya Rahmad dan saya memiliki nilai 93